@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root,
.page {
  height: 100% !important;
  width: 100% !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button.ant-btn-primary {
background: #1677FF !important;
}
button.ant-btn-primary:hover {
  background: #4096ff !important;
}
/* 

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

/* 
button:hover {
  border-color: #646cff;
} */

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


.wrapper {
  /* position: relative; */
  /* width: 100%; */
  /* height: 100%; */
  overflow: scroll;
  /* padding: 16px 0px; */
}

.rg-header-cell {
  text-align: center !important;
  text-transform: uppercase;
}

.toolbar {
  /* box-shadow:0 2px 3px -1px rgb(0 0 0 / 20%) !important; */
  border-bottom: 1px solid #d8dee4;
}

table.tbSaleView,
.tbSaleView td,
.tbSaleView th {
  border: 1px solid #e8e8e8;
}

table.tbSaleView {
  /* width: 100%; */
  border-collapse: collapse;
}

.text-shadow {}

.border-mtr {
  border: 1px solid #ddd;
}

.rg-cell {
  text-align: right !important;
}

.border-btn-login {
  border-right: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-color: white;
  border-style: solid;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.flex-right .MuiOutlinedInput-notchedOutline {
  border-color: #e4e4e4 !important;
}

.flex-right .MuiFilledInput-root {
  border-bottom: 1px solid #e6e6e6 !important;
}

.flex-right .MuiInput-root {
  border-bottom: 1px solid #e6e6e6 !important;
}

.flex-right .MuiTypography-root,
.flex-right .MuiFormLabel-root,
.flex-right .MuiInputLabel-root {
  color: white !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.page-report table,
.page-report td,
.page-report th {
  border: 1px solid #ddd;
  padding: 4px;
}

.page-report td:nth-child(n+5) {
  text-align: right;
}

.page-report td:first-child,
.page-report td:nth-child(2),
.page-report td:nth-child(3),
.page-report td:nth-child(4) {
  font-weight: bold;
}

.page-report table {
  width: 100%;
  border-collapse: collapse;
}

body {
  margin: 0;
  padding: 0rem !important;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}

th,
td {
  padding: 0.25rem;
}

tr.red th {
  background: red;
  color: white;
}

tr.green th {
  background: green;
  color: white;
}

tr.purple th {
  background: purple;
  color: white;
}

th {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

table#tb-report thead * {
  font-size: 14px;
}

table#tb-report tbody * {
  font-size: 10px;
}

table#tb-report tbody td:first-child,
table#tb-report thead tr th {
  background: #ecfff0;
}

.page-a3 {
  width: 29.7cm;
  height: 42cm;
}

#tbDeliveryControl td {
  padding: 0;
}

#reactGrid .tb-distribution .rg-header-cell {
  background: #009688 !important;
  color: #fff;
}

/* .rg-pane-left */
#reactGrid .tb-distribution .rg-text-cell {
  background: #00968810 !important;
}

#reactGrid .tb-undistribution .rg-header-cell {
  background: #5c5fc8 !important;
  color: #fff;
}

.tb-undistribution .reactgrid-content .rg-pane.rg-pane-left,
.tb-undistribution .reactgrid-content .rg-pane.rg-pane-right {
  background: #5c5fc8 !important;
}


.tb-distribution .reactgrid-content .rg-pane.rg-pane-left,
.tb-distribution .reactgrid-content .rg-pane.rg-pane-right {
  background: #009688 !important;
}

.tb-distribution .reactgrid-content .rg-pane.rg-pane-left div,
.tb-distribution .reactgrid-content .rg-pane.rg-pane-right div,
.tb-undistribution .reactgrid-content .rg-pane.rg-pane-left div,
.tb-undistribution .reactgrid-content .rg-pane.rg-pane-right div {
  color: white !important;
}